<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{grpnm}}</h1>
    <textarea id="chathis" cols="100" rows="20"></textarea><br><br>
    <input type="text" id="chatbox" size="100"><br><br>
    <button type="button" id="sub">Send</button>
    {{grpnm|json_script:"grpname"}}
</body>

<script>
    const gname = JSON.parse(document.getElementById('grpname').textContent)
    let wc = new WebSocket('ws://' +
                            window.location.host +
                            '/ws/ac/' +
                            gname +
                            '/')


    wc.onopen = () => {
        console.log('DJ')

    } 
                        
    wc.onmessage = (event) =>{
        console.log('Message from DJ channels', event)
        const ev = JSON.parse(event.data)
        console.log(ev)
        document.querySelector('#chathis').value += (":" + ev.mg + '\n')
    }
                        
    wc.onerror =  () =>{
        console.log('Error')
    }
                        
    wc.onclose =  () =>{
        console.log('Close')
    }    
    
    
    document.getElementById('sub').onclick = () =>{
        const meginputv = document.getElementById('chatbox')
        const mess = meginputv.value
        wc.send(JSON.stringify({
            'mg':mess
        }))

        meginputv.value = ''
    }    
    
</script>
</html>