{% extends "blogapp/base.html" %}
{% load crispy_forms_tags %}
{% block tit %}{{object.author}}{% endblock  %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == request.user%}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blogapp:update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blogapp:delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
  
  {% if comm %}
  <h3>Comments</h3>
  {% for c in  comm%}
  <article class="media content-section">
    {% if c.cby == request.user%}
    <div>
      {{c.content}} by {{c.cby}} <br>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blogapp:update' c.id %}">Update</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blogapp:delcom' c.id %}">Delete</a>
    </div>
    {% else %}
    {{c.content}} by {{c.cby}} <br>
    {% endif %}
  </article>
  {% endfor %}
  {% else %}
  {% endif %}

    <form method="POST">
        {% csrf_token %}
            {{ form|crispy }}
            {{ reply|crispy }}
            <button class="btn btn-outline-info" type="submit">Post</button>
    </form>
{% endblock content %}